<h2 style="font-family: 'Times New Roman'; font-weight: bold;">Add a new Style</h2>
<br />
<br />

<form method="post" action="/Styles/New">
    <label>Category Name</label>
    <br /> <input type="text" name="Name"/>
    <br />
    <br />

    <button class="btn btn-success" type="submit">Add Style</button>

</form>


<br />
<br />
<a class="btn btn-outline-primary" href="/Styles/Index">Back to Styles</a>
