@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Buy your class pass to the most famous dance classes in town</p>

    <a href="/Classes/Index/" class="btn btn-info btn-lg" style="margin-left:30px; margin-top:300px">Start Shopping</a>
</div>
